<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
  <title>编辑用户-ftry</title>
  <link rel="stylesheet" href="../../../common/css/reset.min.css" />
  <link rel="stylesheet" href="../../../common/css/common.css" />
  <link rel="stylesheet" href="./style.css" />
</head>
<body>
  <div id="main" class="addc-box mt16">
    <div class="addc-first-part">
      <div class="customer-item">
        <div class="customer-item-innerbox">
          <label>客户名称</label>
          <input type="text" name="name" value="" placeholder="请选择客户名称(必填)" v-model="customer.customerName"/>
          <span>智能搜索</span>
        </div>
      </div>
      <div class="customer-item">
        <div class="customer-item-innerbox">
          <label>省、市、区</label>
          <input type="text" name="district" value="" placeholder="请点击选择" v-model="customer.district"/>
        </div>
      </div>
      <div class="customer-item">
        <div class="customer-item-innerbox">
          <label>地址</label>
          <input type="text" name="address" value="" placeholder="请选择地址" v-model="customer.address"/>
          <span>定位</span>
        </div>
      </div>
      <div class="customer-item">
        <div class="customer-item-innerbox">
          <label>网址</label>
          <input type="text" name="website" value="" placeholder="请输入网址" v-model="customer.website"/>
        </div>
      </div>
      <div class="customer-item">
        <div class="customer-item-innerbox">
          <label>客户等级</label>
          <input type="text" name="status" readonly="readonly" value="" placeholder="普通客户" v-model="customer.level"/>
          <span>&gt;</span>
        </div>
      </div>
      <div class="customer-item no-border-bottom">
        <div class="customer-item-innerbox">
          <label>客户状态</label>
          <input type="text" name="level" value="" readonly="readonly" placeholder="新建客户" v-model="statusText" v-on:click="__toSelectStatus"/>
          <span>&gt;</span>
        </div>
      </div>
    </div>
    <div class="addc-sec-part">
      <div class="customer-item no-border-bottom mt16">
        <div class="customer-item-innerbox">
          <label>备注</label>
          <my-textarea v-bind:remarks.sync="customer.remarks"></my-textarea>
        </div>
      </div>
    </div>
    <div class="addc-three-part mt16">
      <div class="customer-item">
        <div class="customer-item-innerbox">
          <label>姓名</label>
          <input type="text" name="contact-name" value="" placeholder="请输入姓名" v-model="contact[0].name"/>
        </div>
      </div>
      <div class="customer-item no-border-bottom">
        <div class="customer-item-innerbox">
          <label>手机</label>
          <input type="text" name="contact-phone" value="" placeholder="请输入手机号码" v-model="contact[0].phone"/>
        </div>
      </div>
    </div>
    <div class="save-btn-box">
      <button type="button" class="ev-save-btn" v-on:click="save" name="button">提交</button>
    </div>
  </div>
  <status-component></status-component>
  <!-- <div class="status-box">
    <ul>
      <li>
        <div class="status-item-innerbox">
          <span>新建的客户</span>
          <i></i>
        </div>
      </li>
      <li>
        <div class="status-item-innerbox">
          <span>潜在商机客户</span>
          <i></i>
        </div>
      </li>
      <li>
        <div class="status-item-innerbox">
          <span>成交客户</span>
          <i></i>
        </div>
      </li>
      <li>
        <div class="status-item-innerbox">
          <span>流失客户</span>
          <i></i>
        </div>
      </li>
      <li class="selected">
        <div class="status-item-innerbox">
          <span>长期客户</span>
          <i></i>
        </div>
      </li>
    </ul>
  </div> -->
  <script src="../../../libs/vue.js"></script>
  <script src="../../../common/js/zepto.min.js"></script>
  <script src="../../../common/js/common.js"></script>
  <script src="./customer-edit.js"></script>
</body>
</html>
