<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
        <input type="radio" value="one" v-model="selected" />
        <input type="radio" value="two" v-model="selected" />
        <input type="radio" value="three" v-model="selected" />
        <span>{{selected}}</span> <!-- one | two | three -->
        <br/>
        <!-- 绑定变量 -->
        <input type="radio" :value="a" v-model="selected2" />
        <input type="radio" :value="b" v-model="selected2" />
        <input type="radio" :value="c" v-model="selected2" />
        <span>{{selected2}}</span> <!-- Monika | Joy | Ross -->
    </div>
    <script>
    new Vue({
        el:"#app",
        data:{
            selected: '',
            selected2: '',
            a: 'Monika',
            b: 'Joy',
            c: 'Ross'
        }
    });
    </script>
</body>
</html>
